<%- include("header") -%>
<div class="row">
    <div class="col">
        <div class="heading">
            <%= listTitle%>
        </div>
    </div>
</div>
<div class="container box">
    <div class="row p-3">
        <ul class="list-group">
            <% if (newListItems.length > 0) { %>
            <% newListItems.forEach((item, index) => { %>
            <li class="list-group-item p-3">
                <form action="/delete" method="post">
                    <input class="mx-3" type="checkbox" value="<%=item._id%>" name="checkbox" id="task-<%= index + 1 %>" onchange="this.form.submit()" />
                    <input type="hidden" name="listName" value="<%= listTitle %>" />
                    <label class="form-check-label h4" for="task-<%= index + 1 %>">
                        <%= item.name %></label>
                </form>
            </li>
            <% }); } else { %>
            <li class="list-group-item text-center h4 p-4">No tasks</li>
            <%}%>
        </ul>
    </div>
    <hr class="solid">
    <div class="row">
        <div class="col add-button p-1">
            <form class="item" action="/add" method="post">
                <input type="text" name="newItem" class="add-label px-5" placeholder="Add a task" autocomplete="on" autofocus required />
                <button type="submit" class="round-button" name="list" value="<%= listTitle %>">+</button>
            </form>
        </div>
    </div>
</div>
<%- include("footer") -%>